body {
  margin-top: 70px;
}

.cover-art, .artist-image {
  max-height: 16em;
  text-align: center;
}
/* line 55, ../sass/app.scss */
.cover-art img, .artist-image img {
  max-height: inherit;
  margin: auto;
}

/* line 61, ../sass/app.scss */
.release-group-tile .cover-art, .release-tile .cover-art {
  /*height: 8em;*/
  max-height: 6em;
}
.release-group-tile h3, .release-tile h3 {
  margin: 0;
}

.release-group-tile, .release-tile {
  padding: 15px;
  margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.release-tiles > :nth-child(2n+1), .release-group-tiles > :nth-child(2n+1) {
		clear: both;
	}
}
@media (min-width: 1200px) {
	.release-tiles > :nth-child(3n+1), .release-group-tiles > :nth-child(3n+1) {
		clear: both;
	}
}

.tile-labels { float: right; }

/* Workaround for missing styles in bootstrap, remove when 3.1 released */
.col-xs-offset-2 {
  margin-left: 16.666666666666664%;
}
@media (min-width: 768px) {
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-0 {
    margin-left: 0;
  }
}

.track > .row {
  border-top: 1px solid #eee;
  padding: 7px 0;
}
.track:first-of-type > .row {
  border-top: none;
 }
body {
  background: #eee;
}
#body > header {
  background: #fff;
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
#body > header.row {
  padding-left: 0;
  padding-right: 0;
}
#body > .tracklist {
  background: #fff;
  margin: 20px -15px;
  padding: 15px;
}
header h1 {
  margin: 0;
}
.track_number, .track_length {
  text-align: right;
}
.release-group-tile, .release-tile {
  background: #fff;
}
