.cover-art, .artist-image {
  max-height: 16em;
  text-align: center;
}
/* line 55, ../sass/app.scss */
.cover-art img, .artist-image img {
  max-height: inherit;
  margin: auto;
}

/* line 61, ../sass/app.scss */
.release-group-tile .cover-art, .release-tile .cover-art {
  /*height: 8em;*/
  max-height: 6em;
}
.release-group-tile h3, .release-tile h3 {
  margin: 0;
}

.release-group-tile, .release-tile {
/*  padding: 15px;*/
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.release-tiles > :nth-child(2n+1), .release-group-tiles > :nth-child(2n+1) {
		clear: both;
	}
}
@media (min-width: 1200px) {
	.release-tiles > :nth-child(3n+1), .release-group-tiles > :nth-child(3n+1) {
		clear: both;
	}
}

.tile-labels { float: right; }

/* Workaround for missing styles in bootstrap, remove when 3.1 released */
.col-xs-offset-2 {
  margin-left: 16.666666666666664%;
}
@media (min-width: 768px) {
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-0 {
    margin-left: 0;
  }
}

.track > .row {
  border-top: 1px solid #eee;
  padding: 7px 0;
}
.track:first-of-type > .row {
  border-top: none;
 }
body {
/*  background: url(/images/brushed.png) #eee;*/
  font-family: "M+ 1p", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "M+ 1p", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
#body > header {
  background: #fff;
/*  padding: 15px;*/
  margin-bottom: 20px;

}
.tracklist {
  background: #fff;
  margin-bottom: 20px;
/*  padding: 15px;*/
}
.tracklist > h3 {
  margin-top: 0;
}
header h1 {
  margin: 0;
}
.track_number, .track_length {
  text-align: right;
}
.release-group-tile, .release-tile {
  background: #fff;
}
