<nav id="primary-navbar" role="navigation">
  <div class="container">
    <header>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}MBJS{{/link-to}}
    </header>
    <div class="collapse" id="primary-navbar-collapse">
      <form id="primary-navbar-search" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</nav>

<header id="primary-header">
  <div class="container">
    {{outlet header}}
  </div>
</header>

<nav id="secondary-navbar" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Discography</a></li>
      <li><a href="#">Songs</a></li>
    </ul>
  </div>
</nav>

<div id="primary-content">
{{outlet}}
</div>
