<p>A few links to some examples should go here.</p>
<h2>Test Button Styling</h2>
<p>
  <button class="btn btn-default">Default</button>
  <button class="btn btn-primary">Primary</button>
  <button class="btn btn-success">Success</button>
  <button class="btn btn-info">Info</button>
  <button class="btn btn-warning">Warning</button>
  <button class="btn btn-danger">Danger</button>
</p>
