<h1>Magic Javascript MusicBrainz site thing</h1>
<p>This page exists as a tech demo. It will load pages from the <a href="https://musicbrainz.org">MusicBrainz</a> webservice, then format them into page templates in Javascript. It is a prototype for a user-friendly browsing-focused MusicBrainz interface.</p>
<p>Loaded via ember!</p>
